{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_medalhasproitec/medalhasproitec

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * attributes Array of name / value pairs.

    Example context (json):
    {
        "attributes": [
            { "name": "src", "value": "https://example.com/imgs/logo.png" },
            { "name": "class", "value": "iconsmall" }
        ]
    }
}}


<style>
.activity.modtype_medalhasproitec {
    border: none;
}
.activity.modtype_medalhasproitec .activity-icon, .activity.modtype_medalhasproitec .activity-name-area {
    display: none !important;
}
.activity.modtype_medalhasproitec .activity-description {
    border: none !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
}
.activity.modtype_medalhasproitec .opaco {
    filter: grayscale(100%);
}

.dialog-box {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}
.dialog-box button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #0084ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.dialog-box button:hover {
    background-color: #005bb5;
}

</style>

<div style='text-align: center;'>
<img src="{{wwwroot}}/mod/medalhasproitec/pix/sentinela_do_codex.png"          width="48" {{^sentinela_do_codex.tem}}          class='opaco' {{/sentinela_do_codex.tem}} />
<img src="{{wwwroot}}/mod/medalhasproitec/pix/maratonista_do_conhecimento.png" width="48" {{^maratonista_do_conhecimento.tem}} class='opaco' {{/maratonista_do_conhecimento.tem}} />
<img src="{{wwwroot}}/mod/medalhasproitec/pix/busca_pelo_saber.png"            width="48" {{^busca_pelo_saber.tem}}            class='opaco' {{/busca_pelo_saber.tem}} />
<img src="{{wwwroot}}/mod/medalhasproitec/pix/mestre_do_portal.png"            width="48" {{^mestre_do_portal.tem}}            class='opaco' {{/mestre_do_portal.tem}} />
<img src="{{wwwroot}}/mod/medalhasproitec/pix/amante_dos_numeros.png"          width="48" {{^amante_dos_numeros.tem}}          class='opaco' {{/amante_dos_numeros.tem}} />
<img src="{{wwwroot}}/mod/medalhasproitec/pix/amante_das_palavras.png"         width="48" {{^amante_das_palavras.tem}}         class='opaco' {{/amante_das_palavras.tem}} />
<img src="{{wwwroot}}/mod/medalhasproitec/pix/orgulho_da_comunidade.png"       width="48" {{^orgulho_da_comunidade.tem}}       class='opaco' {{/orgulho_da_comunidade.tem}} />
<img src="{{wwwroot}}/mod/medalhasproitec/pix/entusiasta_do_ifrn.png"          width="48" {{^entusiasta_do_ifrn.tem}}          class='opaco' {{/entusiasta_do_ifrn.tem}} />
</div>

{{#sentinela_do_codex.mostrar_popup}}
<div class="dialog-box">
    <p>Você deseja continuar?</p>
    <button onclick="alert('Você clicou em OK!')">OK</button>
</div>
{{/sentinela_do_codex.mostrar_popup}}
